.movie_top_block {
    background: #1f2123;
    height: 40px;
    padding: 5px 100px;
}

.movie_top_block p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 27px;
}

.movie_bottom_block {
    padding: 0 100px;
    background: #131415;
}

.movie_image {
    height: 200px;
    width: 150px;
    opacity: .99;
    z-index: 1;
    transition: all 0.2s ease-in;
}

.item_border_movie .play_image_movie {
    height: 75px;
    width: 75px;
    position: absolute;
    margin-top: 60px;
    margin-left: 40px;
    opacity: 0;
    z-index: 2;
    transition: all 0.2s ease-in;
}

.item_border_movie {
    outline: 0px solid red;
    outline-offset: 0px;
    position: absolute;
    z-index: 3;
}

.movie_block:hover .item_border_movie {
    outline: 5px solid red;
    outline-offset: -5px;
}

.movie_block:hover .play_image_movie {
    opacity: 1;
}

.movie_block:hover .item_border_movie::before,
.movie_block:hover .play_image_movie::before,
.movie_block:hover .movie_image {
    opacity: .4;
}

.items_movie {
    background: #131415;
    border-right: 5px solid #1f2123;
}

.item_movie {
    width: 150px;
    height: 280px;
    border: 0px solid #cccaca;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #14181a;
    color: #cccaca;
}

.movie_block {
    height: 200px;
}

.paginations {
    background: #131415;
    padding: 5px 100px;
    margin-left: 220px;
    border-right: 5px solid #1f2123;
}

.paginations .page_wrapper p {
    background: #1f2123;
}

.paginations .page_wrapper .page {
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.page_current {
    background: #ca563f;
}

.paginations .buttons {
    height: 40px;
    width: 75px;
    border: 1px solid #333;
    background: #1f2123;
    color: white;
}

.paginations .buttons:disabled {
    color: #9f9f9f;
}

.item_movie .link {
    text-decoration: none;
    color: #cccaca;
    transition: all .2s ease-in;
}

.item_movie .link:hover {
    text-decoration: underline #ca563f;
    color: #ca563f;
}

.allitems {
    width: 910px;
    margin-left: 220px;
    padding-top: 10px;
}

/*News-block*/

.movie_right_block {
    margin-left: 10px;
    margin-top: 10px;
}

.news_image_block {
    position: relative;
    margin-bottom: 20px;
    outline: 0px solid red;
    outline-offset: 0px;
    width: 332px;
    height: 200px;
    cursor: pointer;
}

.news_title {
    color: white;
    position: absolute;
    top: 130px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 322px;
    text-align: justify;
    align-items: end;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.news_image {
    width: 332px;
    height: 200px;
    opacity: 50%;
}

.eye_news_image {
    position: absolute;
    margin-top: 50px;
    margin-left: 116px;
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease-in;
}

.news_image_block:hover .news_border_block {
    outline: 5px solid red;
    outline-offset: -5px;
}

.news_image_block:hover .eye_news_image {
    opacity: 1;
}

.news_image_block:hover .news_title {
    color: #ca563f;
}

.news_image_block:hover .news_border_block::before,
.news_image_block:hover .eye_news_image::before,
.news_image_block:hover .news_image {
    opacity: .2;
}