* {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #131415;
}

::-webkit-scrollbar-thumb {
    background: #ca563f;
    border-radius: 3px;
}